<div class="ambassadors-searchbar">
  <div class="ambassadors-searchbar-content">
    <div class="searchbar-left">
      <div class="search-type">
        Ambassadors Search
      </div>
      <span class="searchbar-divider"></span>
      <div class="results-number">
        134 Results
      </div>
    </div>
    <div class="searchbar-right">
      <i class="material-icons">view_module</i>
      <span class="searchbar-divider"></span>
      <i class="material-icons">reorder</i>
      <span class="searchbar-divider"></span>
      <span class="searchbar-dropdown">Popular<i class="material-icons searchbar-dropdown-icon">keyboard_arrow_down</i></span>
    </div>
  </div>
</div>
<div class="ambassadors-container">
  <div class="sidebar-container">
    <div class="sidebar-filter">
      <div class="sidebar-title">
        Filter Results
      </div>
      <div class="sidebar-header">
        WHAT AGE ARE YOU SEEKING?
      </div>
      <input title="age-seeking" type="text" value="24 - 24" class="sidebar-filter-input">
      <div class="sidebar-header">
        WHAT GENDER ARE YOU SEEKING?
      </div>
      <input title="gender-seeking" type="text" value="Male & Female" class="sidebar-filter-input sidebar-input-arrow-down">
      <div class="sidebar-header">
        WHAT INTEREST ARE YOU SEEKING?
      </div>
      <input title="interest-seeking" type="text" value="e.g. Fashion or Style" class="sidebar-filter-input sidebar-input-search">
      <div class="sidebar-tags">
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">FASHION</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">TRAVEL</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">GLAMOUR</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">TEST</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">TAG</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">LONGPLACEHOLDER</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
        <div class="rectangular-tag app-rectangle">
          <span class="tag-text">GLAMOUR</span>
          <i class="rectangle-clear-icon material-icons">clear</i>
        </div>
      </div>
      <div>
        <button class="sidebar-button">SEARCH</button>
      </div>
    </div>
    <div class="sidebar-shortlist">
      <div class="sidebar-title">
        YOUR SHORTLIST
      </div>
      <div class="sidebar-shortlist-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoitMOtkkDm0pkW74ory6XzPLxdq_-9c9mT1B-EolK5JNV9CZV"
             class="shortlist-item-image">
        <div class="shortlist-item-text">
          <span class="item-name">Brian Wheeler</span>
          <span class="item-price">95 USD</span>
        </div>
      </div>
      <div class="sidebar-shortlist-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoitMOtkkDm0pkW74ory6XzPLxdq_-9c9mT1B-EolK5JNV9CZV"
             class="shortlist-item-image">
        <div class="shortlist-item-text">
          <span class="item-name">Brian Wheeler</span>
          <span class="item-price">95 USD</span>
        </div>
      </div>
      <span class="shortlist-divider"></span>
      <div class="price-footer">
        <div class="total-price">
          <span class="price-text">CURRENT TOTAL: </span>
          <span class="price-number">599 USD</span>
        </div>
        <div class="price-proceed">
          <span class="proceed-text">Proceed</span>
          <i class="material-icons proceed-icon">keyboard_arrow_right</i>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <app-ambassador-card *ngFor="let ambassador of ambassadors" [ambassador]="ambassador"></app-ambassador-card>
  </div>
</div>
