$primary-blue: #3d81d0;
$primary-orange: #ff7800;
$primary-gray: #f0f2f3;
$bold-text-color: #374254;
$light-text-color: #92a0b1;
$dark-icon-color: #b1b6bb; // search icon, active button
$light-icon-color: #d0d6dc; //social, menu, inactive button
$dark-button-color: #242a36;
$border-color: 1px #e6eaee solid;
$shortlist-background-color: #fafbfc;
$dropdown-background-color: #fefefe;
$primary-font-size: 14px;
$secondary-font-size: 12px;
$ambassador-button-color: #242a36;
$dark-tag-color: #9ca2a9;
$light-tag-color: #d0d6dc;
$page-width: 100%;
$border-card-radius: 8px;